    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="https://appseed.us/admin-dashboards/django-dashboard-material" class="simple-text logo-normal">
          Django Material
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
             <a class="nav-link" href="{% url 'user_profile' %}">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
           <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="collapse" data-target="#warehouseMenu" aria-expanded="false">
                <i class="material-icons">content_paste</i>
                <p>Warehouses</p>
              </a>
              <div id="warehouseMenu" class="collapse">
                <ul class="nav flex-column ml-3">
                  <li class="nav-item">
                    <a class="nav-link" href="/warehouses-list">
                      <i class="material-icons">list</i> Warehouse List
                    </a>
                  </li>
                    {% if user.is_superuser or is_owner %}
                  <li class="nav-item">
                    <a class="nav-link" href="/create-warehouse">
                      <i class="material-icons">add</i> Create Warehouse
                    </a>
                  </li>
                        {% endif %}
                </ul>
              </div>
            </li>
             {% if user.is_superuser or is_owner %}
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="collapse" data-target="#userMenu" aria-expanded="false">
                <i class="material-icons">person</i>
                <p>Users</p>
              </a>
              <div id="userMenu" class="collapse">
                <ul class="nav flex-column ml-3">
                  <li class="nav-item">
                    <a class="nav-link" href="/user-list">
                      <i class="material-icons">list</i> Users List
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_user' %}">
                      <i class="material-icons">add</i> Create User
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            {% endif %}
{#            <li class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/ui-tables.html">#}
{#              <i class="material-icons">content_paste</i>#}
{#              <p>Table List</p>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/ui-typography.html">#}
{#              <i class="material-icons">library_books</i>#}
{#              <p>Typography</p>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/ui-icons.html">#}
{#              <i class="material-icons">bubble_chart</i>#}
{#              <p>Icons</p>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/ui-maps.html">#}
{#              <i class="material-icons">location_ons</i>#}
{#              <p>Maps</p>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">#}
{#            <a class="nav-link" href="/ui-notifications.html">#}
{#              <i class="material-icons">notifications</i>#}
{#              <p>Notifications</p>#}
{#            </a>#}
{#          </li>#}
{#          #}
{#          <li class="nav-item ">#}
{#            <a class="nav-link" href="/page-rtl-support.html">#}
{#              <i class="material-icons">language</i>#}
{#              <p>RTL Support</p>#}
{#            </a>#}
{#          </li>#}
             <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
             <a class="nav-link" href="{% url 'farmer_list' %}">
              <i class="material-icons">F</i>
              <p>Farmers</p>
            </a>
           <li class="nav-item">
            <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
             <a class="nav-link" href="{% url 'client_list' %}">
              <i class="material-icons">Customers</i>
              <p>Customers</p>
            </a>
           <li class="nav-item">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

          <li class="nav-item active-pro ">
            <a class="nav-link" 
               target="_blank" rel="noopener noreferrer"  
               href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
              <i class="material-icons">unarchive</i>
              <p>PRO Version</p>
            </a>
          </li>

        {% else %}

          <li class="nav-item active">
            <a class="nav-link"
               target="_blank" rel="noopener noreferrer"
               href="https://appseed.us/admin-dashboards/django-dashboard-material-pro">
              <i class="material-icons">unarchive</i>
              <p>PRO Version</p>
            </a>
          </li>          

        {% endif %}
        </ul>
      </div>

    </div>
